# env
SERVER_ADDRESS=<IP_MANAGING_SERVER>

## Generate a UUID
# docker run --rm ghcr.io/xtls/xray-core uuid
ID=<UUID_KEY>

FAKE_DOMAIN=<REAL_WEBSITE>
BROWSER_FINGERPRINT=<BROWSER_PROFILE>

## Generate a pair of keys (Private and Public)
# docker run --rm ghcr.io/xtls/xray-core x25519
PUBLIC_KEY=PUBLIC_ENCRYPTION_KEY>

## Generate a Short ID
# openssl rand -hex 4
SHORT_ID=<SHORT_ID_CONFIGURATIONS>