ADMIN_USERNAME=<YOUR_USERNAME>

# python3 -c 'import bcrypt; print(bcrypt.hashpw("<YOUR_PASSWORD>".encode("utf-8"), bcrypt.gensalt()).decode())'
ADMIN_PASSWORD_HASH=<YOUR_HASH>

# min 32 random symbols
# openssl rand -hex 32
ADMIN_JWT_SECRET=<RANDOM_JWT_SECRET>