# Public host/IP used in generated tg:// links.
PUBLIC_HOST=<YOUR_PUBLIC_HOST_OR_IP>

# TLS masking domain. (not used)
TLS_DOMAIN=<YOUR_TLS_DOMAIN>

# User secrets (32 hex symbols).
# openssl rand -hex 16
NAME_SECRET=<32_HEX_SECRET>

# Per-user unique IP limit. (not used)
NAME_MAX_UNIQ_IPS=<COUNT>